body {
  background-image: url(../images/mox_pattern-01.png);
  background-size: 10%;
  background-repeat: repeat;
  font-family: "Inconsolata", monospace;
  margin: 50px auto;
}

.moxie {
  color: white;
}

.name-title {
  background: black;
  margin-bottom: 10px;
  padding: 30px 40px;
}

h1 {
  font-size: 100px;
}

h2,
h5,
.reflection p {
  font-size: 25px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.photos {
  color: white;
}

.photos:hover {
  color: red;
  text-decoration: none;
}
.marquee {
  background: black;
  font-size: 40px;
  text-align: center;
}

.text {
  background-color: black;
  margin-bottom: 10px;
  padding: 20px 10px;
}

.subject {
  font-size: 20px;
}

footer {
  background: black;
  color: white;
  margin: 50px auto;
  max-width: 500px;
}
footer a {
  color: white;
}

footer a:hover {
  color: red;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2,
  .marquee {
    font-size: 20px;
  }

  iframe {
    display: none;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 20px;
  }

  .reflection p {
    font-size: 20px;
  }

  .name-title {
    background: black;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
  }

  .text {
    margin-bottom: 10px;
    padding: 20px 30px;
  }
}
