body {
  background: white;
   margin: 50px auto;
  font-family: 'Spline Sans Mono', monospace;
    background-image: url(../images/mix_pattern-01.png);
    background-size: 20%;
  background-repeat: repeat;
  text-align: center;
  
}

.container {
  background: white;
 padding: 30px 100px;
}


.babiez-container {
   padding: 20px 20px;
}


#moxie {
  font-size: 20px;
  padding: 10px 5px;
  background: red;
  color: black;
  border: none;
  transition: 10ms ease-in-out;
}

#moxie:hover {
  background: black;
  color: red;
}

#bias {
  font-size: 20px;
  padding: 10px 5px;
  background: #11fc38;
  color: #fd7bd2;
  border: none;
  transition: 10ms ease-in-out;
}

#bias:hover {
  background: #fd7bd2;
  color: #11fc38;
}

#sense {
  font-size: 20px;
  padding: 10px 5px;
  background: #00d0ff;
  color: #8f66f2;
  border: none;
  transition: 10ms ease-in-out;
}

#sense:hover {
  background: #8f66f2;
  color: #00d0ff;
}

.description {
  font-size: 20px;
  margin-top: 30px;
}

footer {
  font-size: 12px;
}

footer a{
  color:black;
}

footer a:hover{
  color:#017bfe;
}

@media (max-width:900px){
  .container {
    padding: 8px 10px;
  }
  .babiez-container {
      border: none;
  margin: 0px auto;
 padding: 20px 50px;
}

  .title {
    border: 3px solid black;
  }

.description {
font-size: 15px;
margin-top: 10px;

}
}
